
.header {
    background-color: #3A80BA;
    width: 100%;
    height: 72px;
    .logo {
        display: inline-block;
        margin: 10px 0 13px 130px;
        color: #FFFFFF;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 49px;
    }
}